/* http://codase.com/java/javax/swing/text/html/CSS.html */

h1, h2, h3 {
	/* unsupported by JavaHelp */
	margin: 1.5em 0 .7em;
	padding: .2em 10px;
	/* supported by JavaHelp */
	text-align: left;
}
h1	{
	/* unsupported by JavaHelp */
	border-bottom: 3px solid #339933;
	margin-top: 1em;
	font-size: 1.8em;
	/* supported by JavaHelp */
	font-size: 24;
	padding: 5 5 5 7;
	margin: 10 0 10 0;
}
h2	{
	/* unsupported by JavaHelp */
	border-bottom: 2px solid #339933;
	font-size: 1.3em;
	/* supported by JavaHelp */
	font-size: 18;
	padding: 3 5 3 7;
	margin: 20 0 8 0;

}
h3	{
	/* unsupported by JavaHelp */
	border-bottom: 1px solid #339933;
	font-size: 1.1em;
	/* supported by JavaHelp */
	font-size: 15;
	padding: 3 5 3 7;
	margin: 16 0 7 0;
}
.panel {
	/* unsupported by JavaHelp */
	margin: 0 0 0 2em;
	/* supported by JavaHelp */
	padding: 0;
	margin: 0 0 0 25;
}
.note {
	/* unsupported by JavaHelp */
	padding: 0.5em 1em;
	margin: 1em 0;
	border: 1px solid #cfefcf;
	/* supported by JavaHelp */
	color: #000000;
	border-width: 1;
	border-style: solid;
	border-color: #cfefcf;
	padding: 5 10 5 10;
	margin: 10 0 10 0;
}
.example {
	/* unsupported by JavaHelp */
	padding: 0.5em 1em;
	margin: 1em 0;
	border: 1px solid #cfefcf;
	/* supported by JavaHelp */
	color: #000000;
	background-color: #fef2c6;
	border-width: 1;
	border-style: solid;
	border-color: #a0dea0;
	padding: 5 10 5 10;
	margin: 10 0 10 0;
}
dl {
	margin: 0;
	padding: 0;
}
dl dt {
	/* unsupported by JavaHelp */
	margin: .5em 0 .3em;
	/* supported by JavaHelp */
	font-weight: bold;
	padding: 0;
	margin: 8 0 3 0;
}
dl dd {
	/* unsupported by JavaHelp */
	margin: .4em 0 0 1.5em;
	/* supported by JavaHelp */
	padding: 0;
	margin: 5 0 0 15;
}
dl dd .note {
	/* unsupported by JavaHelp */
	margin-top: .3em;
	margin-bottom: .3em;
	/* supported by JavaHelp */
	margin: 4 0 0 0;
}
dl dd dt,
dl dd strong,
dl dd b {
	color: #555555;
}
dl dd ul {
	margin: 0;
}
dl dd ul li {
	margin: 0;
}
table {
	border-color: #73ce73;
	border-width: 1;
	border-style: solid;
	margin: 5 0 5 0;
	padding: 0;
	background-color: #ffffff;
}

td {
	border-color: #a0dea0;
	border-width: 1;
	border-style: solid;
	margin: 0;
	padding: 1;
	background-color: #ffffff;
	vertical-align: top;
}

th {
	border-color: #73ce73;
	border-width: 1;
	border-style: solid;
	margin: 0;
	padding: 1;
	background-color: #fef2c6;
	vertical-align: top;
}
