/* line 10, flexibee-app/spinkit-spinner.scss */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center; }

/* line 16, flexibee-app/spinkit-spinner.scss */
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #DDDDDD;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

/* line 26, flexibee-app/spinkit-spinner.scss */
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

/* line 31, flexibee-app/spinkit-spinner.scss */
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
    80%,
    100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
    80%,
    100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/* line 65, flexibee-app/spinkit-spinner.scss */
.spinner-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* line 71, flexibee-app/spinkit-spinner.scss */
.spinner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 80, flexibee-app/spinkit-spinner.scss */
.spinner-wrapper {
  height: 100%; }

/* line 83, flexibee-app/spinkit-spinner.scss */
.spinner {
  width: 100%;
  margin: 0; }
